* {
  box-sizing: border-box;
}

body {
  background: #dddddd;
  line-height: 1.6em;
  word-break: break-all;
}

a {
  color: #0066cc;
  text-decoration: none;
}

.center {
  text-align: center;
}

.app {
  background: #ffffff;
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
}

.header {
  padding: 10px 30px 0 30px;
}
.footer {
  padding: 10px 30px;
}

/* Header section */
.header {
  background: #c6e2ff;
  display: grid;
  grid-template-columns: 7fr 3fr;
}

.site-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.user-info {
  font-size: 0.8rem;
  font-weight: bold;
  padding-bottom: 10px;
}

.user-meta {
  background: #e8f3ff;
  padding: 5px 10px;
  border-radius: 5px;
}

.logout-btn:hover {
  cursor: pointer;
  text-decoration: underline;
}

.header-form input {
  font-size: 0.8rem;
  margin-right: 10px;
}

.container {
  display: grid;
  grid-template-columns: 6fr 4fr;
  grid-gap: 10px;
  padding: 30px 30px 10px 10px;
}

/* Reddit posts area  */

/* Post component  */

.post {
  display: grid;
  grid-template-columns: 1fr 9fr;
  grid-gap: 5px;
  margin-bottom: 10px;
}

/* Votes  */

.votes {
  text-align: center;
  color: #cccccc;
  line-height: 1.2rem;
}

.upvote,
.votecount,
.downvote {
}

.upvote,
.downvote {
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
}

.votecount {
  font-size: 1.2rem;
}

.title-area {
}

.title {
  font-size: 1.2rem;
}

.title a {
  text-decoration: none;
}

.title a:hover {
  text-decoration: underline;
}

.url {
  padding-left: 5px;
}
.url,
.meta-area,
.link-area {
  color: gray;
  font-size: 0.8rem;
}

.link-area {
  font-weight: bold;
}

/* User area for logging in and posting stuff  */

.post-box,
.guest-msg {
  padding: 10px 20px;
}

.post-box {
  background: #c6e2ff;
  border-radius: 3px;
}

.guest-msg {
  background: #fffde7;
  font-weight: bold;
}

.post-form input,
.post-form textarea {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  padding: 5px;
}

.footer {
  text-align: center;
  font-size: 0.8rem;
  color: gray;
}

@media (max-width: 800px) {
  .container {
    grid-template-columns: 10fr;
    padding: 10px;
  }

  .title {
    font-size: 1rem;
  }

  .post-form input,
  .post-form textarea {
    width: 100%;
  }
}
