* {
  box-sizing: border-box;
}

body {
  background: #dddddd;
  line-height: 1.6em;
}

.app {
  background: #ffffff;
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
}

.header,
.container,
.footer {
  padding: 10px;
}

.container {
  display: grid;
  grid-template-columns: 7fr 3fr;
  grid-gap: 10px;
}

/* Reddit posts area  */

/* Post component  */

.post {
  display: grid;
  grid-template-columns: 1fr 9fr;
  grid-gap: 5px;
  margin-bottom: 10px;
}

/* Votes  */

.votes {
  text-align: center;
  color: #cccccc;
  line-height: 1.2rem;
}

.upvote,
.votecount,
.downvote {
}

.upvote,
.downvote {
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
}

.votecount {
  font-size: 1.2rem;
}

.title-area {
}

.title {
  font-size: 1.2rem;
}

.title a {
  text-decoration: none;
}

.title a:hover {
  text-decoration: underline;
}

.url {
  padding-left: 5px;
}
.url,
.meta-area,
.link-area {
  color: gray;
  font-size: 0.8rem;
}

.link-area {
  font-weight: bold;
}

/* User area for logging in and posting stuff  */

.post-box {
}

.post-form input,
.post-form textarea {
  display: block;
  margin-bottom: 10px;
}
